#body {
  background-image: url(/img/rainy-weather.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#myForecasts {
  text-align: center;
  margin: 25px;
}

#weather {
  padding: 25px;
}

#fiver {
  padding: 25px;
  width: 100%;
}

.no-padding, #no-padding {
  padding-left: 0;
  padding-right: 0;
}

.deleteForecast {
  color: tomato;
  text-decoration: underline;
}

.v-align-center {
  padding-top: auto;
}

.day {
  margin: 10px;
  width: 20%;
}
