#body {
  background-image: url(/img/rainy-weather.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#weather {
  padding: 25px;
}

#fiver {
  padding: 25px;
  width: 100%;
}

.day {
  margin: 10px;
  width: 20%;
}